# Задача проекта
Проверить себя в роли аналитика в компании кинопроката, применив навыки и знания полученные в юните.   
1. Провести анализ данных с помощью pandas. 
2. Добавить к портфолио на Github еще один проект.

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [5]:
data = pd.read_csv('movie_bd_v5.csv', encoding='Utf-8')
data.sample(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1731,tt0408839,60000000,127766650,The Heartbreak Kid,Ben Stiller|Malin Ã…kerman|Michelle Monaghan|J...,Bobby Farrelly|Peter Farrelly,He waited all his life to get married. Too bad...,"Eddie, the 40-year-old confirmed bachelor fina...",116,Comedy,Conundrum Entertainment|Davis Entertainment|Dr...,10/5/2007,5.6,2007

In [295]:
data.describe(include='object')

,original_title,cast,director,tagline,overview,genres,production_companies,release_month,release_seasons
count,1889,1889,1889,1889,1889,1889,1889,1889,1889
unique,1887,1878,957,1880,1889,652,1624,12,4
top,Fantastic Four,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Steven Soderbergh,What could go wrong?,When the daughter of a psychiatrist is kidnapp...,Comedy,New Line Cinema,September,Autumn
freq,2,3,13,2,1,141,21,227,559

# Предобработка

In [6]:
answers = {}  # создадим словарь для ответов

# тут другие ваши предобработки колонок например:


data = data.set_index(['imdb_id'])
data['profit'] = data['revenue'] - data['budget']  # + поле прибыли
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_month'] = data['release_date'].dt.month_name()  # + поле месяца
season = {'December': 'Winter',
          'January': 'Winter',
          'February': 'Winter',
          'March': 'Spring',
          'April': 'Spring',
          'May': 'Spring',
          'June': 'Summer',
          'July': 'Summer',
          'August': 'Summer',
          'September': 'Autumn',
          'October': 'Autumn',
          'November': 'Autumn',
          }
data['release_seasons'] = data['release_month'].map(
    season)  # + поле времени года


def list_unique(name_column):
    """фунция создающая список уникальных значений с разделителем '|', для колонки DataFrame"""
    list_ = sorted(set(data[name_column].str.cat(sep='|').split('|')))
    return list_


def explode_dataframe(column_title):
    """фунция создающая развернутую таблицу для колонки DataFrame с вложенным списком разделенным | """
    new_dataframe = data.copy()
    new_dataframe[column_title] = new_dataframe[column_title].apply(
        lambda x: x.split("|"))
    new_dataframe = new_dataframe.explode(column_title)
    return new_dataframe

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [454]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'  # +

In [11]:
data.query('budget == budget.max()')['original_title'].iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [12]:
data.sort_values('budget').tail(1).original_title.iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [455]:
answers['2'] = 'Gods and Generals'  # +

In [14]:
data.query('runtime == runtime.max()')['original_title']

imdb_id
tt0279111    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [456]:
answers['3'] = 'Winnie the Pooh'  # +

In [16]:
data.query('runtime == runtime.min()')['original_title']

imdb_id
tt1449283    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [457]:
answers['4'] = '110'  # +

In [18]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [458]:
answers['5'] = '107'  # +

In [20]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [459]:
answers['6'] = 'Avatar'  # +

In [22]:
data.query('profit == profit.max()')['original_title']

imdb_id
tt0499549    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [460]:
answers['7'] = 'The Lone Ranger'  # +

In [24]:
data.query('profit == profit.min()')['original_title']

imdb_id
tt1210819    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [445]:
answers['8'] = '411'  # +

In [26]:
len(data.query('profit > 0'))

1478

ВАРИАНТ 2

In [27]:
Counter(data.profit > 0)[1]

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [444]:
answers['9'] = 'The Dark Knight'  # +

In [7]:
data.query('release_year == 2008').query(
    'revenue == revenue.max()')['original_title']

imdb_id
tt0468569    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [443]:
answers['10'] = 'The Lone Ranger'  # +

In [31]:
data.query('2012 <= release_year <= 2014 ').query(
    'profit == profit.min()')['original_title']

imdb_id
tt1210819    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [442]:
answers['11'] = 'Drama'  # +

In [313]:
Counter(data.genres.str.cat(sep='|').split('|')).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [315]:
list_genres = []

for genres in data['genres'].str.split('|'):  # Создаем список всех жанров
    for genre in genres:
        if genre not in list_genres:
            list_genres.append(genre)

data_genre = data.copy()
for genre in list_genres:  # Создаем в Date_genre поля жанров с значениями присутсвия: 1 или 0
    data_genre[genre] = data_genre.genres.str.contains(genre).astype(int)

data_genre[list_genres].mean().sort_values(ascending=False).head(1)*100

Drama    41.397565
dtype: float64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [441]:
answers['12'] = 'Drama'  # +

In [8]:
data_genre = explode_dataframe('genres')  # def

data_genre.query('profit > 0').groupby(
    'genres').genres.value_counts().sort_values().tail(1)

genres  genres
Drama   Drama     560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [440]:
answers['13'] = 'Peter Jackson'  # +

In [38]:
list_director = list_unique('director')  # Создаем список всех режисеров

revenue_directors = {}
for director_one in list_director:
    revenue_director = data[data.director.str.contains(
        director_one)].revenue.sum()
    revenue_directors.setdefault(director_one, round(revenue_director))

Counter(revenue_directors).most_common(1)

[('Peter Jackson', 6490593685)]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [439]:
answers['14'] = 'Robert Rodriguez'  # +

In [40]:
list_director = list_unique('director')  # Создаем список всех режисеров

action_directors = {}
for director_one in list_director:
    action_director = data_genre[data_genre.director.str.contains(
        director_one)].Action.sum()
    action_directors.setdefault(director_one, action_director)

Counter(action_directors).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [438]:
answers['15'] = 'Chris Hemsworth'  # +

In [191]:
list_actor = list_unique('cast')  # Создаем список всех актеров

data2012 = data.query('release_year == 2012').query('revenue > revenue.mean()')
revenue_actors = {}
for actor in list_actor:
    revenue_actor = data2012[data2012.cast.str.contains(actor)].revenue.sum()
    revenue_actors.setdefault(actor, revenue_actor)

Counter(revenue_actors).most_common(1)

[('Chris Hemsworth', 1916157910)]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [437]:
answers['16'] = 'Matt Damon'# +

In [209]:
list_actor = list_unique('cast')  # Создаем список всех актеров

data_budget_higt = data.query('budget > budget.quantile(0.5)')

budget_actors = {}
for actor in list_actor:
    budget_actor = data_budget_higt[data_budget_higt.cast.str.contains(
        actor)].budget.count()
    budget_actors.setdefault(actor, budget_actor)

Counter(budget_actors).most_common(1)

[('Matt Damon', 22)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [436]:
answers['17'] = 'Action'  # +

In [47]:
data_Cage = data[data.cast.str.contains('Nicolas Cage') == True]
Counter(data_Cage.genres.str.cat(sep='|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [435]:
answers['18'] = 'K-19: The Widowmaker'  # +

In [139]:
data_Paramount = data[data.production_companies.str.contains(
    'Paramount Pictures') == True]
data_Paramount.query('profit == profit.min()')['original_title']

imdb_id
tt0267626    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [434]:
answers['19'] = '2015'  # +

In [51]:
data.groupby('release_year').revenue.sum(
).sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [433]:
answers['19'] = '2014'  # +

In [53]:
dataWarnerBros = data[data.production_companies.str.contains(
    'Warner Bros') == True]
dataWarnerBros.groupby('release_year').profit.sum(
).sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [432]:
answers['21'] = 'сентябрь'  # +

In [316]:
data.groupby('release_month').original_title.count(
).sort_values(ascending=False).index[0]

'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [431]:
answers['22'] = '450'  # +

In [303]:
len(data.query('release_seasons == "Summer"'))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [430]:
answers['23'] = 'Peter Jackson'  # +

In [482]:
data_director = explode_dataframe('director')  # def

data_director = data_director.query('release_seasons == "Winter"').groupby(
    'director').release_seasons.count()
data_director.sort_values(ascending=False).head(1)

director
Peter Jackson    7
Name: release_seasons, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [429]:
answers['24'] = 'Four By Two Productions'  # +

In [483]:
data_name_film = explode_dataframe('production_companies')  # def

data_name_film['length_name_film'] = data_name_film['original_title'].str.len()
data_name_film.groupby(
    'production_companies').length_name_film.mean().sort_values().tail(1)

production_companies
Four By Two Productions    83.0
Name: length_name_film, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [427]:
answers['25'] = 'Midnight Picture Show'  # +

In [245]:
data_name_film = explode_dataframe('production_companies')  # def

data_name_film['length_name_overview'] = data_name_film['overview'].apply(
    lambda x: len(x.split()))
data_name_film.groupby(
    'production_companies').length_name_overview.mean().sort_values().tail(1)

production_companies
Midnight Picture Show    175.0
Name: length_name_overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [426]:
answers['26'] = 'The Dark Knight, Inside Out, 12 Years a Slave'  # +

In [156]:
data_vote_average = data.query('vote_average > vote_average.quantile(0.99)')
data_vote_average[['original_title', 'vote_average']
                  ].sort_values('vote_average', ascending=False)

                                          original_title  vote_average
imdb_id
tt0468569                                The Dark Knight           8.1
tt2096673                                     Inside Out           8.0
tt3170832                                           Room           8.0
tt0816692                                   Interstellar           8.0
tt2084970                             The Imitation Game           8.0
tt2015381                        Guardians of the Galaxy           7.9
tt2267998                                      Gone Girl           7.9
tt2278388                       The Grand Budapest Hotel           7.9
tt1375666                                      Inception           7.9
tt0253474                                    The Pianist           7.9
tt0167260  The Lord of the Rings: The Return of the King           7.9
tt0993846                        The Wolf of Wall Street           7.9
tt2024544                               12 Years a Slave           7.9
tt0209144                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [425]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'  # +

In [424]:
data27 = data.copy()
data27['cast'] = data27['cast'].apply(lambda x: x.split('|'))

actor_pairs = {}
count = 0
for actors in data27['cast']:
    actor_combinations = list(itertools.combinations(actors, 2))
    for actor_pair in actor_combinations:
        count += 1
        actor_pairs.setdefault(count, actor_pair)

pd.Series(actor_pairs).value_counts()[:2]

(Daniel Radcliffe, Emma Watson)     8
(Daniel Radcliffe, Rupert Grint)    8
(Rupert Grint, Emma Watson)         7
dtype: int64

ВАРИАНТ 2

# Submission

In [484]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'27': 'Daniel Radcliffe, Rupert Grint',
 '26': 'The Dark Knight, Inside Out, 12 Years a Slave',
 '25': 'Midnight Picture Show',
 '24': 'Four By Two Productions',
 '23': 'Peter Jackson',
 '22': '450',
 '21': 'сентябрь',
 '19': '2015',
 '18': 'K-19: The Widowmaker',
 '17': 'Action',
 '16': 'Matt Damon',
 '15': 'Chris Hemsworth',
 '14': 'Robert Rodriguez',
 '13': 'Peter Jackson',
 '12': 'Fantasy',
 '11': 'Drama',
 '10': 'The Lone Ranger',
 '9': 'The Dark Knight',
 '8': '411',
 '7': 'The Lone Ranger',
 '6': 'Avatar',
 '5': '107',
 '4': '110',
 '3': 'Winnie the Pooh',
 '2': 'Gods and Generals',
 '1': 'Pirates of the Caribbean: On Stranger Tides'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)